<!DOCTYPE html>
<html>

<head>
    <title>Contact form</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
        integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <style>
        html,
        body {
            min-height: 100%;
            padding: 0;
            margin: 0;
            font-family: Roboto, Arial, sans-serif;
            font-size: 14px;
            color: #666;
        }

        h1 {
            margin: 0 0 20px;
            font-weight: 400;
            color: #bcd4a5;
        }

        p {
            margin: 0 0 5px;
        }

        .main-block {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            background: #bcd4a5;
        }

        form {
            padding: 25px;
            margin: 25px;
            box-shadow: 0 2px 5px #f5f5f5;
            background: #f5f5f5;
        }

        .fas {
            margin: 25px 10px 0;
            font-size: 72px;
            color: #fff;
        }

        .fa-envelope {
            transform: rotate(-20deg);
        }

        .fa-at,
        .fa-mail-bulk {
            transform: rotate(10deg);
        }

        input,
        textarea {
            width: calc(100% - 18px);
            padding: 8px;
            margin-bottom: 20px;
            border: 1px solid #bcd4a5;
            outline: none;
        }

        input::placeholder {
            color: #666;
        }

        button {
            width: 100%;
            padding: 10px;
            border: none;
            background: #bcd4a5;
            font-size: 16px;
            font-weight: 400;
            color: #fff;
        }

        button:hover {
            background: #bcd4a5;
        }

        @media (min-width: 568px) {
            .main-block {
                flex-direction: row;
            }

            .left-part,
            form {
                width: 50%;
            }

            .fa-envelope {
                margin-top: 0;
                margin-left: 20%;
            }

            .fa-at {
                margin-top: -10%;
                margin-left: 65%;
            }

            .fa-mail-bulk {
                margin-top: 2%;
                margin-left: 28%;
            }
        }

        .btn-block {
            align-content: center;
            width: 80px;
            border-radius: 50%;
            margin-top: 20px;
            margin-left: 40%;
        }
         .GFG{
            background-color:#fff;
            color:black;
            width:30%;
             margin-top:30%;
           
        }
    </style>
</head>

<body>
    <div class="main-block">
        <div class="left-part">
            <i class="fas fa-envelope"></i>
            <i class="fas fa-at"></i>
            <i class="fas fa-mail-bulk"></i>
             <a href='<%= baseURL%>/superadmin-login/Registration'>
        <button class="GFG">
            Registration Here
        </button>
    </a>
        </div>
        <form action="<%= baseURL%>/superadmin-login/admin"  method="post" enctype="multipart/form-data">
            <h1>Login Form</h1>
            <fieldset>
                <legend>Admin /Branch user Primary Contact</legend>
                <div class="colums">
                 
                <div class="item">
                        <label for="email">Email<span>*</span></label>
                        <input id="email" type="text" placeholder="email" name="email" required />
                    </div>
                    <div class="item">
                        <label for="password">Password<span>*</span></label>
                        <input id="password" type="text" placeholder="password" name="password" required />
                    </div>
                    <div class="item">
                        
                        <label for="photo">Photo <span>*</span></label>
                        <input id="photo" type="file" accept='image/*' placeholder="photo" name="photo" enctype="multipart/form-data" multiple  required />
                    </div>
                    <div class="item">
                        <label for="ophoto">Office Photo <span>*</span></label>
                        <input id="ophoto" type="file" placeholder="ophoto" name="ophoto" enctype="multipart/form-data" multiple required />
                    </div>
                    <div class="item">
                        <label for="document">Rent agreement document<span>*</span></label>
                        <input id="document" type="file" placeholder="document" name="Rdocument" enctype="multipart/form-data" multiple required />
                    </div>
                    <div class="item">
                        <label for="faddress">Full Address<span>*</span></label>
                        <input id="faddress" type="text" placeholder="faddress" name="faddress" required />
                    </div>
                     
            </div>
            </fieldset>
            <div class="btn-block">
                <button type="submit" href="/">Submit</button>
            </div>

    </div>
    </form>

</body>

</html>